body,
ul {
  margin: 0;
  padding: 0;
  background-color: var(--backgrond-kleur);
  overflow-x: hidden; /* Hide horizontal scrollbar */
}

@font-face {
  font-family: "Pathe";
  src: url(./font/Trade\ Gothic\ Bold\ Condensed\ No.\ 20.otf);
}
:root {
  --merk-kleur: rgb(255, 200, 40);
  --backgrond-kleur: rgb(42, 42, 42);
}
h1 {
  color: var(--merk-kleur);
  font-family: "Pathe";
}

a {
  color: #000;
}

/* header */

.header {
  background-color: var(--merk-kleur);
  box-shadow: 1px 1px 4px 0 rgba(0, 0, 0, 0.1);
  position: fixed;
  width: 100%;
  z-index: 3;
}

.header ul {
  margin: 0;
  padding: 0;
  list-style: none;
  overflow: hidden;
  background-color: var(--merk-kleur);
}

.header li a {
  display: block;
  padding: 20px 20px;
  text-decoration: none;
}

.header li a:hover,
.header .menu-btn:hover {
  background-color: white;
}

.header .logo {
  display: block;
  float: left;
  font-size: 2em;
  padding: 10px 20px;
  text-decoration: none;
}

/* menu */

.header .menu {
  clear: both;
  max-height: 0;
  transition: max-height 0.2s ease-out;
}

/* menu icon */

.header .menu-icon {
  cursor: pointer;
  float: right;
  padding: 28px 20px;
  position: relative;
  user-select: none;
}

.header .menu-icon .navicon {
  background: #333;
  display: block;
  height: 2px;
  position: relative;
  transition: background 0.2s ease-out;
  width: 18px;
}

.header .menu-icon .navicon:before,
.header .menu-icon .navicon:after {
  background: #333;
  content: "";
  display: block;
  height: 100%;
  position: absolute;
  transition: all 0.2s ease-out;
  width: 100%;
}

.header .menu-icon .navicon:before {
  top: 5px;
}

.header .menu-icon .navicon:after {
  top: -5px;
}

/* menu btn */

.header .menu-btn {
  display: none;
}

.header .menu-btn:checked ~ .menu {
  max-height: 240px;
}

.header .menu-btn:checked ~ .menu-icon .navicon {
  background: transparent;
}

.header .menu-btn:checked ~ .menu-icon .navicon:before {
  transform: rotate(-45deg);
}

.header .menu-btn:checked ~ .menu-icon .navicon:after {
  transform: rotate(45deg);
}

.header .menu-btn:checked ~ .menu-icon:not(.steps) .navicon:before,
.header .menu-btn:checked ~ .menu-icon:not(.steps) .navicon:after {
  top: 0;
}

/* 48em = 768px */

@media (min-width: 48em) {
  .header li {
    float: left;
  }
  .header li a {
    padding: 20px 30px;
  }
  .header .menu {
    clear: none;
    float: right;
    max-height: none;
  }
  .header .menu-icon {
    display: none;
  }
}

/* carousel */
.carousel {
  margin: 0 auto;
  overflow: hidden;
  text-align: center;
}

.slides {
  width: 100%;
  display: flex;
  overflow-x: scroll;
  scrollbar-width: none;
  scroll-snap-type: x mandatory;
  scroll-behavior: smooth;
  margin-bottom: 1em;
}

.slides::-webkit-scrollbar {
  display: none;
}

.slides-item {
  align-items: center;
  border-radius: 0.6em;
  display: flex;
  flex-shrink: 0;
  justify-content: center;
  margin: 0 1rem;
  position: relative;
  scroll-snap-align: center;
  width: 200px;
  height: 300px;
  overflow-x: auto;
  scroll-snap-type: x mandatory;
  scroll-behavior: smooth;
  -webkit-overflow-scrolling: touch;
}

.slide-1 {
  background-color: #fdc;
}

.slide-2 {
  background-color: #bfd;
}

.slide-3 {
  background-color: #cdf;
}

.slide-4 {
  background-color: #dca;
}

.slide-5 {
  background-color: #ffc;
}
h3 {
  color: aquamarine;
  size: 3em;
}
/*buffer omdat er lege ruimte achter de header zit*/
.bufferheader {
  height: 4em;
}

.topbuttons ul {
  list-style: none; /* Remove default list styles */
  padding: 0; /* Remove default padding */
  margin: 0; /* Remove default margin */
  display: flex; /* Use flexbox layout */
  justify-content: center;
}

.topbuttons ul li {
  /* Optional: Add styling for list items */
  margin-right: 1em; /* Add some spacing between list items */
  padding-top: 1.5em;
  font-size: 1.5em;
  font-family: "Pathe";
  color: var(--merk-kleur);
}
.topbuttons ul li:first-child {
  color: #fff;
}
/*section voor tickets en nieuws*/
.sectie-Tickets {
  height: 275vh;
  background: -webkit-radial-gradient(
    center,
    ellipse cover,
    #464646 0%,
    #171717 100%
  );
}
/*H2 Styling*/
h2 {
  font-family: "Pathe";
  font-size: 1.3em;
  color: white;
  padding-left: 2%;
}
/*toggle button wat eigenlijk een image is*/
.togglecon {
  width: 100%;
  display: grid;
}
#checkbox {
  display: none;
}
.toggle {
  height: 100px;
  width: 350px;
  background-image: url(./images/Scherm­afbeelding\ 2023-12-12\ om\ 17.09.59.png);
  background-size: cover;
  position: relative;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}

#checkbox:checked + .toggle {
  background-image: url(./images/Scherm­afbeelding\ 2023-12-12\ om\ 17.10.11.png);
  background-size: cover;
}
/*zoekbalk voor de locatie*/
.search-bar {
  padding: 0.7em;
  border: 1px solid #ccc;
  border-radius: 4px;
  width: 80%;
  font-size: 16px;
  margin-left: 5%;
  margin-bottom: 5%;
}

.carousel-nieuws {
  margin: 0 auto;
  overflow: hidden;
  text-align: center;
}

.slides-nieuws {
  width: 100%;

  display: flex;
  overflow-x: scroll;
  scrollbar-width: none;
  scroll-snap-type: x mandatory;
  scroll-behavior: smooth;
}

.slides::-webkit-scrollbar {
  display: none;
}

.slides-item-nieuws {
  align-items: center;
  border-radius: 0.6em;
  display: flex;
  flex-shrink: 0;
  justify-content: center;
  margin: 0 1rem;
  position: relative;
  scroll-snap-align: center;
  transform: scale(1);

  width: 14em;
  height: 10em;
  overflow-x: auto;
  scroll-snap-type: x mandatory;
  scroll-behavior: smooth;
  -webkit-overflow-scrolling: touch;
}

.slide-1-nieuws {
  background-color: #fdc;
}

.slide-2-nieuws {
  background-color: #bfd;
}

.slide-3-nieuws {
  background-color: #cdf;
}

.slide-4-nieuws {
  background-color: #dca;
}

.slide-5-nieuws {
  background-color: #ffc;
}
/*styling van de broodtekst*/
p {
  color: white;
  font-size: 1em;
  font-family: Arial, Helvetica, sans-serif;
  padding: 2%;
}
/*button styling*/
button {
  background-color: var(--merk-kleur);
  padding: 2%;
  border-radius: 6px;
  border-style: none;
  background-color: #ffc426;
  background-image: -webkit-linear-gradient(top, #f7da66, #ffc426);
  background-image: linear-gradient(to bottom, #f7da66, #ffc426);
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
}
section.carousel button {
  width: 27%;
}
.Imax {
  width: 100%;
  margin-top: 1em;
}
.Giftcard {
  position: relative;
  width: 100%;
  margin-top: 1em;
}
footer {
  background-color: var(--merk-kleur);
  height: 5em;
  margin: auto 0;
  text-align: center;
}
.Icon {
  margin-top: 1em;
  width: 10%;
}
